

.container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "search current current"
      "search forecast forecast";
  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr 1fr;
    grid-gap: 10px;
  
    height: 100vh;
  }

header {
    grid-area: header;
    background-image: linear-gradient(to right, rgb(150, 150, 255) , rgb(3, 3, 70));
    color: white;
    text-align: center;
  }

nav {
    grid-area: search;
    background-color: blue;
}

main {
    grid-area: current;
    background-color: rgb(246, 242, 242);
}

section {
    grid-area: forecast;
    background-color: darkslategray;
}

/* 
#side-nav {
    position: fixed;
    top: 10%;
    width: 20%;
    display: inline-block;
    margin-left: 10px;
}

#search-form {
    width: 100%;
}

#search-input {
    width: 100%;
}

#format-input {
    width: 100%;
}

main {
    position: relative;
    left: 25%;
    width: 60%;
    height: 80vh;
}

main article {
    border: solid 1px;
    border-radius: 4px;
}

main #current-weather {
    height: 50%;
    width: 100%;
}

main #forecast-section {
    height: 50%;
    width: 100%;
}

#forecast-section > article {
    display: inline-flex;
}

.forecast-day {
    background-color: darkslategrey;
    color: white;
    height: 60%;
    margin: 1%;
}

.forecast-date {
    font-size: 1.5rem;
}
 
.forecast-info {
    display: block;
    font-size:1rem;
}



header h1 {
    background-image: linear-gradient(to right, rgb(150, 150, 255) , rgb(3, 3, 70));
    color: white;
    text-align: center;
    height: 10%;
} */