header {
    /* width: 100%; */
}

body {
    /* display: inline-block; */
}

#side-nav {
    position: fixed;
    top: 10%;
    width: 20%;
    display: inline-block;
    margin-left: 10px;
}

#search-form {
    width: 100%;
}

#search-input {
    width: 100%;
}

#format-input {
    width: 100%;
}

main {
    position: relative;
    left: 25%;
    width: 60%;
    height: 80vh;
    /* display: inline-block; */
}

main article {
    border: solid 1px;
    border-radius: 4px;
}

main #current-weather {
    /* background-color: skyblue; */
    height: 50%;
    width: 100%;
}

main #forecast-section {
    /* background-color:gold; */
    /* display: block; */
    height: 50%;
    width: 100%;
}

#forecast-section > article {
    display: inline-flex;
}

.forecast-day {
    background-color: darkslategrey;
    color: white;
    height: 60%;
    /* width: 15%; */
    margin: 1%;
}

.forecast-date {
    font-size: 1.5rem;
}
 
.forecast-info {
    display: block;
    font-size:1rem;
    /* margin: 5px; */
}



header h1 {
    background-image: linear-gradient(to right, rgb(150, 150, 255) , rgb(3, 3, 70)); /*rgb(255, 255, 150) is nice*/
    color: white;
    text-align: center;
    height: 10%;
}