* {
    font-family: 'Benne', serif; 
}

.full-grid {
    display: grid;
  
    grid-template-areas:
      "header header header header"
      "search current current margin"
      "search forecast forecast margin";
  
    grid-template-columns: 0.5fr 1fr 1fr 0.05fr;
    grid-template-rows: auto 0.7fr 1fr;
    grid-gap: 10px;
  
    height: 95vh;
    width: 100vw;
  }

header {
    grid-area: header;
    background-image: linear-gradient(to right, rgb(134, 162, 255) , rgb(3, 3, 70));
    color: white;
    text-align: center;
  }

aside {
    grid-area: margin;
}

nav {
    grid-area: search;
    margin-left: 5px;
}

#search-form {
    padding: 5px;
    border-bottom: solid 2px;
}

small {
    font-size: 10px;
}

button {
    margin: 5px;
}

.history-button {
    background-color: gray;
    /* margin: 5px; */
}

main {
    grid-area: current;
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    border: solid 1px;
    border-radius: 4px;
    box-shadow:5px 5px 5px darkslategray;
}

main h2 {
    margin: 10px;
}

.current-info {
    margin: 10px;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
}

section {
    grid-area: forecast;
    display: none;
}

section h3 {
    margin-left: 15px;
}

#forecast-container {
    display: flex;
    justify-content:stretch;
    flex-wrap: wrap;
    flex-grow: 5;
    color: white;
}

.forecast-day {
    /* \width: 10%; */
    height: 50%;
    margin: 20px;
    background-color: darkslategray;
    border-radius: 3px;
    box-shadow: 5px 5px 5px darkslategray;
}

.forecast-info {
    margin: 10px;
    display: block;
    font-size:1.5rem;
}

.forecast-info:first-child {
    font-size:2.2rem;
}

.backgrounds {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 0.25;
    z-index:-1;
    background-size: cover;
}

/* #background0 {
    background: rgb(50,50,50)  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
} */
#background1 {
    background: url("css-backgrounds/weather-clouds-painted.jpg")  no-repeat center center fixed;    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#background2 {
    background: url("css-backgrounds/weather-clouds.jpg")  no-repeat center center fixed;    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}